<div class = "col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
       <h1>Düzene mi ihtiyacın var</h1>

</div>


<div class="panel-body">
  <div class="panel panel-danger">
<%= render 'form', post:  @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>
</div>